html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

a {
	color: white;	
	text-decoration: none;
}

label {
	display: block;
}

button {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

canvas {
	top: 0;
	left: 0;
	position: fixed;
}

svg {
	width: 2.5rem;
	height: 2.5rem;
}

aside {
	position: absolute;
	z-index: 700;
	width: max-content;
	height: max-content;
	background-color: #212121;
	color: white;
}

header {
	display: flex;
	align-items: center;
	
}

svg {
	padding-top: 0.45rem;
	cursor: pointer;
}